<h2>Penzion CAIUS</h2>
<nb-card style="height: 100%;">
  <nb-card-header>Informace</nb-card-header>
  <nb-card-body>
    <p>Služeb Penzionu CAIUS mohou využít pouze obchodní partneři firmy VIPS gas s.r.o. a jejich rodinní příslušníci.<br>
    Penzion CAIUS se nachází v obci Heřmanice v Podještědí, přibližně 25 km od Liberce směrem na Děčín. Penzion vznikl rekonstrukcí stávající budovy a jeho moderní interiér je zařízen ve stylu "ARMY".</p>

    <p>K ubytování jsou k dispozici tří a čtyřlůžkové pokoje s televizí, bezdrátovým připojením k internetu Wi-Fi a vlastním sociálním zařízením. Vzhledem k technickým možnostem penzionu není možné poskytnout ubytování "domácím mazličkům".</p>

    <p>
    Penzion nabízí rekreaci pro celou rodinu s možností polopenze.<br>
    Polopenze je k dipozici při požadavku na stravování od minimálního počtu osmi ubytovaných. Firmy zde mohou pořádat svá firemní zasedání a to včetně ubytování a občerstvení.
    </p>
    <p>
      K objednání pobytu či závazné rezervaci použijte výhradně náš online <b><a href="https://www.immergas.cz/caius/">"Formulář pro rezervaci termínu pobytu"</a></b>.<br>
    Okolí penzionu skýtá mimo jiné mnoho turistických tras a cyklostezek, které vás provedou po nádherném okolí obce Heřmanice.
    </p>
    <p> Líbila se Vám armádní technika na Penzionu CAIUS ? Rádi byste si koupili originální vojenskou výstroj? Tak neváhejte a navštivte naše internetové stránky
      <b><a href="http://www.vipsarmy.cz/">www.vipsarmy.cz!</a></b></p>
    <div class="gallery d-flex justify-content-center" >
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
  </nb-card-body>
</nb-card>

<!--<div class="row">-->
<!--  <div class="col-md-3" *ngFor="let image of galleryImages">-->
<!--    <nb-card>-->
<!--      <img [src]="image.small" alt="">-->
<!--    </nb-card>-->
<!--  </div>-->
<!--</div>-->
