<h2>Penzion CAIUS</h2>
<nb-card style="height: 100%;" *ngIf="!editContent" [nbSpinner]="loadingContent" nbSpinnerStatus="primary" nbSpinnerMessage="Načítám obsah">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
<!--      <div class="col-11">-->
      <ng-container>
        Informace
      </ng-container>
<!--      </div>-->
<!--      <div class="col-1">-->
        <button nbButton status="warning" *ngIf="authService.getUser">
          <nb-icon icon="edit-outline" (click)="editContent = !editContent"></nb-icon>
        </button>
<!--      </div>-->
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="pension-content" [innerHTML]="data.description" *ngIf="data">
    </div>
    <div class="gallery d-flex justify-content-center" >
    </div>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="editContent">
  <nb-card-header>Upravit popisek</nb-card-header>
  <nb-card-body>
    <tinymce [(ngModel)]="data.description" [ngModelOptions]="{standalone: true}"></tinymce>
    <div class="row" style="margin-top: .5rem;">
      <div class="col-6">
        <button nbButton (click)="updateContent()" fullWidth>Upravit</button>
      </div>
      <div class="col-6">
        <button nbButton (click)="editContent = !editContent" status="danger" fullWidth>Zpět</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-3" *ngFor="let image of galleryImages; let i = index">
    <nb-card class="image-card" [ngStyle]="{'background-image': 'url(' + image.small + ')'}" (click)="openImage(galleryImages, i)">

    </nb-card>
  </div>
</div>
