a {
  text-decoration: none;
}

::ng-deep nb-card-body.thumbnail-wrapper {
  padding: 0 !important;
}

nb-card.category-card nb-card-footer h2 {
  color: #FE5001;
}

nb-card.category-card .thumbnail{
  width: 100%;
  height: 28vh;
  background-position: center;
  background-repeat: no-repeat;
}


