<a [routerLink]="category.url">
  <nb-card class="scale overflow-hidden category-card">
    <nb-card-body *ngIf="!category.thumbnail">
<!--      <img [src]="'../../../../assets/images/' + category.image" alt="" style="max-width: 100%;">-->
      <div class="thumbnail" [ngStyle]="{'background-image': 'url(assets/images/' + category.image + ')'}"></div>
    </nb-card-body>
    <nb-card-body *ngIf="category.thumbnail" class="thumbnail-wrapper">
      <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + category.thumbnail + ')'}"></div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-between">
        <h2>{{category.name}}</h2>
      </div>
    </nb-card-footer>
  </nb-card>
</a>
