<div class="row" *ngIf="authService.getUser()">
  <div class="col-12 col-lg-8 m-auto">
    <nb-card>
      <nb-card-header>Přidat novou novinku</nb-card-header>
      <nb-card-body>
        <form #form="ngForm" [formGroup]="newsForm">
          <div class="form-group">
            <label for="title" class="label">Titulek</label>
            <input nbInput fullWidth type="text" id="title" name="name" [(ngModel)]="news.title" required placeholder="Zadejte titulek novinky" [formControl]="newsForm.controls.name">
          </div>
          <div class="form-group">
            <label for="message" class="label">Obsah zprávy</label><br>
<!--            <textarea nbInput fullWidth placeholder="Zadejte obsah zprávy" id="message" [(ngModel)]="news.body" name="message"></textarea>-->
            <tinymce id="message" [(ngModel)]="news.body" [formControl]="newsForm.controls.description"></tinymce>
          </div>
          <div class="form-group">
          <button nbButton (click)="addArticle()" fullWidth [disabled]="!form.valid"><nb-icon icon="cloud-upload-outline"></nb-icon>Nahrát</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <h2>Novinky</h2>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="allNews.length === 0">
    <nb-alert status="warning">Tato sekce neobsahuje žádné zprávy.</nb-alert>
  </div>
  <div class="col-md-4" *ngFor="let article of allNews">
    <nb-card [nbSpinner]="deletingArticle">
      <nb-card-header class="d-flex justify-content-between">
        <div>
          {{article.title}}
          <p class="article-createdAt m-0">Zveřejněno: {{article.createdAt | dfnsFormat: 'dd.MM.yyyy'}}</p>
        </div>

      </nb-card-header>
      <nb-card-body>
        <div class="article-content" [innerHTML]="article.body">

        </div>
      </nb-card-body>
      <nb-card-footer *ngIf="authService.getUser()">
        <button nbButton status="danger" fullWidth>
          <nb-icon icon="trash-2-outline" pack="eva" class="align-self-center" (click)="deleteArticle(article.id)"></nb-icon>
          Odstranit
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
