<p *ngIf="productLoaded"><a routerLink="/pages/products/" style="color: inherit">Produkty</a>&nbsp;/&nbsp;<a routerLink="/pages/products/category/{{product.productCategory.id}}" style="color: inherit">{{product.productCategory.name}}</a>&nbsp;/&nbsp;<b>{{product.name}}</b></p>

<nb-card [nbSpinner]="!productLoaded" nbSpinnerStatus="primary" nbSpinnerMessage="Načítám produkt.." *ngIf="!editingProduct">
  <nb-card-header *ngIf="authService.getUser()">
    <div class="row">
      <div class="col-9">
        <h2>{{product.name}}</h2>
      </div>
      <div class="col-md-1">
        <button nbButton status="info" fullWidth (click)="uploadNewImages=!uploadNewImages">
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
      </div>
      <div class="col-md-1">
        <button nbButton status="warning" (click)="editingProduct = true" fullWidth>
          <nb-icon icon="edit-outline"></nb-icon>
        </button>
      </div>
      <div class="col-md-1" (click)="deleteProduct()">
        <button nbButton status="danger" fullWidth>
          <nb-icon icon="trash-2-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
        <h2 *ngIf="!authService.getUser()">{{product.name}}</h2>
        <div class="product-description" [innerHTML]="product.description">
        </div>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="editingProduct">
  <nb-card-body>
    <form #form="ngForm">
      <div class="form-group">
        <label for="title" class="label">Název produkt</label>
        <input nbInput fullWidth type="text" id="title" name="name" [(ngModel)]="product.name" required placeholder="Zadejte název produktu">
      </div>
      <div class="form-group">
        <label for="product-description" class="label">Popis produktu</label>
        <tinymce id="product-description" [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}" [config]="tinyMceConfig"></tinymce>
      </div>
      <div class="d-flex justify-content-between">
        <div class="form-group" *ngIf="product.thumbnail">
          <label for="product-update-thumbnail" class="label">Náhledový obrázek</label>
          <div id="product-update-thumbnail" class="thumbnail position-relative" [ngStyle]="{'background-image': ' url(' + product.thumbnail.url + ')'}" style="width: auto; height: 40vh; background-position: left center; background-repeat: no-repeat; background-size: contain;"></div>
          <div>
            <input type="file" nbInput (change)="onThumbnailChange($event)"><br>
          </div>
        </div>
        <div class="form-group" *ngIf="product.newThumbnail">
          <label for="new-thumbnail" class="label">Nový náhledový obrázek</label>
          <img [src]="product.newThumbnail.url" id="new-thumbnail">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button nbButton fullWidth status="info" (click)="editProduct()"><nb-icon icon="cloud-upload-outline"></nb-icon>Odeslat</button>
        </div>
        <div class="col-md-6">
          <button nbButton (click)="editingProduct=false" fullWidth status="danger">Zrušit</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<!-- TODO: Update thumbnail image -->

<nb-card *ngIf="uploadNewImages">
  <nb-card-header>Nahrát nové obrázky</nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group">
        <label for="new-image" class="label">Nahrát nové obrázky</label><br>
        <input type="file" #newImageInput id="new-image" multiple accept="image/*" nbInput (change)="onFileChange($event)">
      </div>
      <div class="form-group">
        <button nbButton (click)="uploadImages(); newImageInput.value = ''"><nb-icon icon="cloud-upload-outline"></nb-icon>Nahrát obrázky</button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3" *ngFor="let image of selectedImagesPreview; let i = index" >
        <nb-card style="width: 100%; height: 340px; overflow: hidden">
          <nb-card-body defaultImage="assets/images/placeholder.png" [lazyLoad]="image.url" style="background-size: cover; background-position: center;"></nb-card-body>
          <nb-card-footer>
            <button nbButton fullWidth status="danger" (click)="removeFromList(i)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let image of productImages; let i = index">
    <nb-card class="detail-image-container scale">
      <div class="thumbnail position-relative" (click)="openImage(productImages, i)" [ngStyle]="{'background-image': ' url(' + image.url + ')'}" ></div>

      <nb-card-footer *ngIf="authService.getUser()">
        <button *ngIf="image.thumbnail" nbButton fullWidth disabled status="danger">Náhled. obrázek nelze odstranit</button>
        <button *ngIf="!image.thumbnail" nbButton fullWidth status="danger" (click)="deleteImageFromProduct(image.name)"><nb-icon icon="trash-2-outline"></nb-icon> Odstranit</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

