
<h2>Produkty</h2>
<ngx-loading-data-warning [data]="allCategories"></ngx-loading-data-warning>
<div class="row" *ngIf="allCategories">
  <div class="col-lg-3 col-md-6" *ngFor="let category of allDynamicCategories">
    <ngx-category-card [category]="category"></ngx-category-card>
  </div>
  <div class="col-lg-3 col-md-6">
    <ngx-category-card [category]="categoryOverview" *ngIf="authService.getUser()"></ngx-category-card>
  </div>
</div>
<hr>
<h2>Firma</h2>
<nb-card>
  <nb-card-header>O nás</nb-card-header>
  <nb-card-body>
    Společnost VIPS gas s.r.o. vznikla v roce 1990 spojením odborníků zabývajících se tepelnými zařízeními na plyn a topný olej. Na náš trh v roce 1992 přivedla známou italskou firmu LAMBORGHINI a její výrobní program v oblasti vytápění. V roce 2005 ke společnosti přistoupila zahraniční finanční skupina IMMERFIN S.p.A, jež je mimo jiné vlastníkem firmy IMMERGAS S.p.A, jednoho z největších výrobců plynových nástěnných kotlů na světě. Toto spojení umožnilo firmě VIPS gas s.r.o. posílení její pozice na českém trhu.
    Společnost VIPS gas s.r.o. se stala výhradním dovozcem plynových kotlů a tepelných čerpadel firmy IMMERGAS. V sortimentu této společnosti dále naleznete plynová topidla, generátory teplého vzduchu, moderní hybridní systémy, ucelený sortiment podlahového vytápění, chemii na čištění a inhibici topné vody, kvalitní magnetické filtry otopných soustav a vyspělou regulační techniku.
    <img src="assets/images/firma.jpg" alt="" style="margin-top: 1em !important; border-radius: .25rem" class="d-block m-auto">
  </nb-card-body>
</nb-card>
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Spolehlivost, dlouholetá záruka, garance kvality</nb-card-header>
      <nb-card-body>
        Dle firemní filozofie však k úspěšnému obchodu s technicky vyspělými výrobky nestačí pouze obchodní talent a popularita značky, ale nezbytně nutná je také vysoká odbornost a profesionální přístup. Společnost aktivně spolupracuje i při vývoji nových výrobků. Pečlivě vybírá jednotlivé typy technických zařízení pro možnost použití na našem trhu. Podrobně je seznámena s jejich vývojem a výrobou. Některé výrobky jsou přímo upravovány v souladu s jejími požadavky. To vše jsou aspekty, které u společnosti VIPS gas s.r.o. jednoznačně naleznete.
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Profesionální technická podpora</nb-card-header>
      <nb-card-body>
        Síť autorizovaných servisních středisek se v průběhu let rozrostla po celém území České republiky. Na těchto stránkách nebo na oblíbených webových stránkách www.immergas.cz můžete najít právě ten svůj nejbližší servis. A to není vše!
        Plynové kotle IMMERGAS si za svou dobu existence na českém trhu vydobyly pověst kvalitních výrobků, které slouží v mnoha domácnostech dlouhou řádku let. Je tedy možné, že se za ta léta provozu plynového kotle ztratí návod či technická dokumentace. Z tohoto důvodu jsme pro Vás připravili Technický archiv plynových kotlů IMMERGAS včetně příslušenství, kde naleznete vše potřebné.
        Pro autorizované servisní techniky je tu 24 hodin denně on-line portál Servisní zóna, ve kterém jsou k dispozici aktuální technické informace, doporučené servisní postupy, možnost objednávky náhradních dílů, zdarma vedená databáze plynových kotlů IMMERGAS, jejich uvedení do provozu či jejich plánované údržby.
      </nb-card-body>
    </nb-card>
  </div>
</div>


