<div class="header-container">
  <div class="logo-container">
    <a class="logo immergas" href="#" (click)="navigateHome()"><img src="assets/images/immergas.png" alt="" style="width: 100%;"></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" >
      <a href="#"><img src="assets/images/vipsgas.svg" alt="" style="width: 75%;"></a>
    </nb-action>
  </nb-actions>
  <nb-actions size="small">
    <nb-action  class="user-action" *ngIf="user">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name ? user.name : user.email"
               [picture]="user?.photoURL">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
