
    <nb-card *ngIf="authService.getUser()" [nbSpinner]="uploadingProduct">
      <nb-card-header>Přidat nový produkt</nb-card-header>
      <nb-card-body>
        <form #form="ngForm">
          <div class="form-group">
            <label for="title" class="label">Název kategorie</label>
            <input nbInput fullWidth type="text" id="title" name="name" [(ngModel)]="product.name" required placeholder="Zadejte název kategorie">
          </div>
          <div class="form-group">
            <label for="product-thumbnail" class="label">Vyberte náhledový obrázek kategorie</label><br>
            <input type="file" id="product-thumbnail" name="thumbnail" nbInput (change)="onFileChange($event)">
          </div>
          <button nbButton (click)="addProduct(form.value)" fullWidth>Odeslat</button>
        </form>
      </nb-card-body>
    </nb-card>

